.app-bookmarks {
  padding: 10px;

  h5 {
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      &.header {
        font-weight: bold;
      }
    }
  }

  p {
    text-align: center;
    padding: 20px 0;
  }

  .search {
    margin-bottom: 10px;
  }
}
